<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <!--间隔时间，单位:分-->
    <add key="timeInterval" value="60" />
    <add key="Year" value="2010"/>
    <add key="Month" value="1"/>
    <add key="Day" value="1"/>
    <add key="Hour" value="0"/>
    <add key="Minute" value="0"/>
    <add key="Second" value="0"/>
  </appSettings>
</configuration>
