<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="en_us_DictionaryConfig" type="CPI.Hcfa.SpellChecker.DictionaryConfigSectionHandler,CPI.Hcfa.SpellChecker"/>
    <section name="en_au_DictionaryConfig" type="CPI.Hcfa.SpellChecker.DictionaryConfigSectionHandler,CPI.Hcfa.SpellChecker"/>
    <section name="en_ca_DictionaryConfig" type="CPI.Hcfa.SpellChecker.DictionaryConfigSectionHandler,CPI.Hcfa.SpellChecker"/>
    <section name="en_gb_DictionaryConfig" type="CPI.Hcfa.SpellChecker.DictionaryConfigSectionHandler,CPI.Hcfa.SpellChecker"/>
    <section name="en_nz_DictionaryConfig" type="CPI.Hcfa.SpellChecker.DictionaryConfigSectionHandler,CPI.Hcfa.SpellChecker"/>
    <section name="en_za_DictionaryConfig" type="CPI.Hcfa.SpellChecker.DictionaryConfigSectionHandler,CPI.Hcfa.SpellChecker"/>
  </configSections>
  <en_us_DictionaryConfig>
    <dictionaryConfigSettings>
      <add languageCode="EN_US" affFile="Dictionary\en_us.aff" dicFile="Dictionary\en_us.dic"/>
    </dictionaryConfigSettings>
  </en_us_DictionaryConfig>
  <en_au_DictionaryConfig>
    <dictionaryConfigSettings>
      <add languageCode="EN_AU" affFile="Dictionary\en_au.aff" dicFile="Dictionary\en_au.dic"/>
    </dictionaryConfigSettings>
  </en_au_DictionaryConfig>
  <en_ca_DictionaryConfig>
    <dictionaryConfigSettings>
      <add languageCode="EN_CA" affFile="Dictionary\en_ca.aff" dicFile="Dictionary\en_ca.dic"/>
    </dictionaryConfigSettings>
  </en_ca_DictionaryConfig>
  <en_gb_DictionaryConfig>
    <dictionaryConfigSettings>
      <add languageCode="EN_GB" affFile="Dictionary\en_GB.aff" dicFile="Dictionary\en_GB.dic"/>
    </dictionaryConfigSettings>
  </en_gb_DictionaryConfig>
  <en_nz_DictionaryConfig>
    <dictionaryConfigSettings>
      <add languageCode="EN_NZ" affFile="Dictionary\en_nz.aff" dicFile="Dictionary\en_nz.dic"/>
    </dictionaryConfigSettings>
  </en_nz_DictionaryConfig>
  <en_za_DictionaryConfig>
    <dictionaryConfigSettings>
      <add languageCode="EN_ZA" affFile="Dictionary\en_za.aff" dicFile="Dictionary\en_za.dic"/>
    </dictionaryConfigSettings>
  </en_za_DictionaryConfig>
</configuration>